.vs/
src/RabbitMQInitializer/bin/*
src/RabbitMQInitializer/obj/*
src/SystemA.API/bin/*
src/SystemA.API/obj/*
src/SystemA.Application/bin/*
src/SystemA.Application/obj/*
src/SystemA.Domain/bin/*
src/SystemA.Domain/obj/*
src/SystemA.Infrastructure/bin/*
src/SystemA.Infrastructure/obj/*
src/SystemA.Contracts/bin/*
src/SystemA.Contracts/obj/*
src/Shared/bin/*
src/Shared/obj/*