.vs/
obj/*
bin/*
src/RabbitMQInitializer/bin/*
src/RabbitMQInitializer/obj/*

src/SystemA.API/bin/*
src/SystemA.API/obj/*
src/SystemA.Application/bin/*
src/SystemA.Application/obj/*
src/SystemA.Domain/bin/*
src/SystemA.Domain/obj/*
src/SystemA.Infrastructure/bin/*
src/SystemA.Infrastructure/obj/*
src/SystemA.Contracts/bin/*
src/SystemA.Contracts/obj/*

src/SystemB.API/bin/*
src/SystemB.API/obj/*
src/SystemB.Application/bin/*
src/SystemB.Application/obj/*
src/SystemB.Domain/bin/*
src/SystemB.Domain/obj/*
src/SystemB.Infrastructure/bin/*
src/SystemB.Infrastructure/obj/*

src/Shared/bin/*
src/Shared/obj/*